<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="company" value="MonoKle"/>
		<add key="companyFull" value="MonoKle Full"/>
		<add key="product" value="Demo"/>
		<add key="productYear" value="2023"/>
		<add key="productVersion" value="vTest"/>
		<add key="internalVersion" value="vTest-g12345"/>
	</appSettings>
</configuration>